*{
    padding:0;
    margin:0;
    font-family: sans-serif;
}
html,body{
    height:100%;
    /* width:100%; */
}
body{
    background: black;
}

#imgCont{
    position: absolute;
    z-index: -1;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    /* width:100%; */
    height:fit-content;
    column-gap: 0;
    row-gap: 0;
    /* grid-template-columns: repeat(48,1fr); */
}
#imgCont > p {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: .4rem;
    color: white;
    text-align: center;
    width:.5rem;
    height:.5rem;
}
@media only screen and (max-width:1000px){
    #imgCont>p{
        font-size: .5vw;
        width:.5vw;
        height:.5vw;
    }
}
@media only screen and (max-height:1000px){
    #imgCont>p{
        font-size: .5vh;
        width:.5vh;
        height:.5vh;
    }
}